<h1>All Artists</h1>

<ul id="artists">
	<% @artists.each do |artist| %>
		<li>
			<%= link_to "#{artist.first_name} #{artist.last_name}", artist_path(artist), class: 'artist_title' %>
		</li>
	<% end %>
</ul>

<%= link_to 'Create new artist', new_artist_path, class: 'new_artist' %>